*,
html {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 2rem 10rem;
  font-size: 1.2rem;
}

#head {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#head p {
  margin-bottom: 1rem;
}

.form-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  /* background-color: blanchedalmond; */
  background-color: #ededed;
  gap: 1rem;
}

#jenis-kelamin {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#input-gender {
  display: flex;
  gap: 2rem;
  margin-bottom: 0.5rem;
}

.input-container i.fa-pencil {
  border: 1px solid #ccc;
  width: 4rem;
  height: 100%;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 0.2rem;
}

.input-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;

  border-radius: 5px;
  background-color: white;
  margin-bottom: 1rem;
}

.input-container input {
  border: none;
  outline: none;
  font-size: 1.2rem;
  flex: 1;
  padding: 5px 10px;
}

/* Menghilangkan spinner di semua browser */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Menghilangkan spinner di Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

#berat-badan,
#usia,
#tinggi {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#submit {
  display: flex;
  gap: 1rem;
}

#submit input {
  padding: 0.8rem 1.4rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

input[type="button"] {
  background-color: rgb(31, 109, 255);
  color: white;
}

input[type="reset"] {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

#fitur {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
}

/* Mengatur posisi angka di dalam */
#fitur ol {
  list-style-position: inside;
}

#hasil {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  line-height: 1.5;
}

#hasil-bmi {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: #ededed;
  gap: 1rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#hasil-bmi button {
  width: 20%;
  padding: 10px 10px;
  font-size: 1rem;
  background-color: rgb(31, 109, 255);
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#hasil-bmi #angka {
  font-size: 3rem;
}

#hasil .konsul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#hasil .konsul button {
  padding: 10px 10px;
  border: none;
  background-color: rgb(31, 109, 255);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#hasil #penyakit {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ededed;
  gap: 1rem;
}

#hasil #penyakit-disebabkan {
  font-size: 1rem;
  font-weight: 400;
}

#hasil #download-app {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#hasil #download-app img {
  width: 20rem;
}
